// В этом файле должны быть стили только для БЭМ-блока page-header, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Не пишите здесь другие селекторы.

.page-header {

  $block-name: &; // #{$block-name}
  position: fixed;
  background-color: transparent;
  top: 0;
  left: 0;
  width: 100%;
  height: 73px;
  z-index: 3;
  color: white;

  @include media-breakpoint-up(xs) {}
  @include media-breakpoint-up(sm) {}
  @include media-breakpoint-up(md) {}
  @include media-breakpoint-up(lg) {}
  @include media-breakpoint-up(xl) {}

  &:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 104px;
    height: 19px;
    background-image: url(../img/header-background-img1.png);
  }

  &:after {
    content: "";
    position: absolute;
    z-index: -2;
    top: 0;
    left: 0;
    width: 100%;
    height: 10px;
    background-image: url(../img/header-background-img2.png);
    background-repeat: repeat-x;
    background-position: bottom;
  }

  &__inner {
    position: relative;
    display: flex;
    align-items: baseline;
    height: 73px;
    height: 100%;
    justify-content: center;

    @include media-breakpoint-up(xs) {}
    @include media-breakpoint-up(sm) {}
    @include media-breakpoint-up(md) {}
    @include media-breakpoint-up(lg) {}
    @include media-breakpoint-up(xl) {}
  }

  .navbar {
    padding: 16px 8px 7px 15px;
    // align-items: start;
    align-items: center;
  }

  &__toggle {
    display: flex;
    align-items: center;
    font-size: 14px;
    font-weight: 300;
    cursor: pointer;

    &__text {
      margin-left: -4px;
    }
  }

  &__info {
    display: none;
    
    padding: 0;
    margin: 0;
    list-style: none;
    font-size: 13px;
    margin-right: 28px;

    @include media-breakpoint-up(xs) {}
    @include media-breakpoint-up(sm) {}
    @include media-breakpoint-up(md) {
      
    }
    @include media-breakpoint-up(lg) {

    }
    @media(min-width: 1300px) {
      display: flex;
      align-items: center;
    }

    li {
      margin-right: 39px;

      &:last-child {
        margin-right: 0;
      }
    }

    a {
      color: black;
      letter-spacing: 0.4px;
    }

    .icon {
      margin-right: 13px;
      fill: $color-ocean;

      &-email {

      }
    }
  }

  .btn {
    text-transform: uppercase;
    min-width: 158px;
  }

  &--white {
    background-color: #fff;
    box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.15);

    #{$block-name} {
      &__toggle {
        color: black;
      }
    }

    .icon-logo {
      @extend .active;
    }

    .hamburger {
      @extend .hamburger--light;
    }

    .dropdown-main {
      &__toggle {
        &:after {
          @include sprite($dropdown-dark);
        }
      }
    }

    .dropdown-main__toggle:after {
      @extend .active;
    }

  }

  &--transparent {
    margin: 0;

    #{$block-name} {
      &__info {
        a {
          color : white;
        }

        .icon {
          fill: white;

          &-email {
            @extend .active;
          }
        }
      }
    }

    .navbar__phone {
      color: white;
    }

    .dropdown-main {
      @extend .dropdown-main--light;
    }
  }
}
