// В этом файле должны быть стили для БЭМ-блока btn, его элементов, 
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.btn {

  $block-name: &; // #{$block-name}__element {}
  border-radius: 0px;
  padding: 11px 16px 12px 16px;
  font-size: 13px;

  @include media-breakpoint-up(lg) {}

  &-primary {
    @include media-breakpoint-up(md) {}

    &:hover, &:focus {}
  }

  &-info {
    @include media-breakpoint-up(md) {}

    &:hover, &:focus {}
  }

  &-light {
    // background-color: #7f8ead;
    color: white;

    @include media-breakpoint-up(md) {}

    &:hover, &:focus {}

    &:not(:disabled):not(.disabled):active:focus, 
    &:not(:disabled):not(.disabled).active:focus {}
  }

  &--dust {
    opacity: 0.8;
    background: grey;
    border-color: grey;
  }

  &.disabled, disabled {}

  &-group {
    @include media-breakpoint-up(lg) {}

    .btn {
      @include media-breakpoint-up(lg) {}

      &:first-child {
        @include media-breakpoint-up(lg) {}
      }
      &:last-child {
        @include media-breakpoint-up(lg) {}
      }

      &.active {}
    }
  }
}

button {
  outline: none !important;
}
