.page-footer {
  $block-name: &;
  padding: 30px 0px 50px 0px;
  color: black;

  @include media-breakpoint-up(xs) {
  }
  @include media-breakpoint-up(sm) {
  }
  @include media-breakpoint-up(md) {
    padding-top: 50px;
  }
  @include media-breakpoint-up(lg) {
    
  }
  @include media-breakpoint-up(xl) {
    padding-top: 53px;
    padding-bottom: 50px;
  }

  &__inner {
    display: flex;
    flex-direction: column;
    margin: auto;

    @include media-breakpoint-up(xs) {
    }
    @include media-breakpoint-up(sm) {
    }
    @include media-breakpoint-up(md) {
    }
    @include media-breakpoint-up(lg) {
    }
    @include media-breakpoint-up(xl) {
    }
    @media(max-width: 1100px) {
      // padding-left: 0;
    }
    @media(max-width: $screen-xxl) {
      // padding-left: 300px;
    }
  }

  &__content {
    padding-top: 50px;
    
    @media(min-width: 1100px) {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
    }
  }

  &__block {
    
    
    @media(min-width: $screen-md) {
      display: flex;
    }
    @media(max-width: 1100px) {
      margin-bottom: 30px;
    }

    &:last-child {
      @media(max-width: 1100px) {
        margin-bottom: 0;
      }
    }
  }

  &__logo {
    display: block;
    margin-bottom: 20px;
    
    @media(min-width: $screen-md) {
      margin-right: 30px;
      margin-bottom: 0;
    }
    @media(min-width: 1100px) {
      margin-right: 100px;
    }

    .icon {

    }
  }

  &__nav {
    font-size: 13px;

    @media(min-width: $screen-md) {
      display: flex;
    }

    &__block {
      margin-right: 30px;
      margin-bottom: 20px;
      
      @media(min-width: $screen-md) {
        margin-bottom: 0px;
      }
      @media(min-width: 1100px) {
        margin-right: 75px;
      }

      &:last-child {
        margin-right: 0;
        margin-bottom: 0;

        @media(min-width: $screen-md) {
          
        }
      }
    }

    &__ul {
      padding: 0;
      list-style: none;
      margin: 0;

      li {
        width: 100%;
        margin-bottom: 10px;

        &:last-child {
          margin-bottom: 0;
        }
      }
    }
    p {
      text-transform: uppercase;
      font-weight: bold;
    }

    a {
      color: black;
    }
  }

  .social {
    align-self: center;
    margin-top: 30px;

    @media(min-width: $screen-md) {
      margin-top: 0;
      margin-left: 33px;
    }
  }

  &__tel {
    color: black !important;
    text-decoration: none !important;

    &:hover, &:focus {
      color: black;
      text-decoration: none;
    }
  }

  .btn {
    text-transform: uppercase;
    
  }

}
